.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

.MySwiper{
  background-color: none;
}

.dataClient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}


.myCard{
  color: #000000;
  max-width: 18rem;
  backdrop-filter: blur(16px) saturate(124%);
  -webkit-backdrop-filter: blur(16px) saturate(124%);
  background-color: rgba(0, 0, 0, 0.73);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.logo-user{
  border-radius: 100px;
  border-color: #ffffff;
  border: solid 1px #ffffff;
}