h1{
    font-size: 70px;
    font-weight: bolder;
    color: white;
    text-align: center;
}
p{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.bodycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Figtree', sans-serif;
    margin-top: 30px;
}
.leftside{
    max-width: 100%;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
   flex-direction: column;

}
.rightside{
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeImage{
    max-width: 65%;
    height: auto;
    opacity: 80%;
    border-radius: 220px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.534);
}
