/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

body{
    background-image: url(https://cdn.pixabay.com/photo/2018/04/21/00/42/hexagon-3337447_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* FORMULARIO DE REGISTRO */

.main-row{
    width: 60%;
}
.SingUp-form{
    background-color: #a563cc0c;
    border-radius: 25px;
    width: 50%;
}
.ico{
    font-size: 40px;
}
.ico-exit{
    font-size: 25px;
}
.exit:hover{
    background-color: #B8D0EB;
}
.newUser{
    margin-left: 10px;
}
.newUser h2{
    margin-bottom: 1px;
}
.formSignUp{
    margin: 20px;
}

.button{
    width: 50%;
    background-color: #B8D0EB
}
.button:hover{
    background-color: #B298DC;
}

/* FOOTER */
.instagram{
    margin: 5px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 20px rgb(255, 136, 0), 0 0 15px rgb(255, 136, 0), 0 0 20px  rgb(111, 0, 255), 0 0 15px rgb(111, 0, 255);
}  
.xtwitter{
    margin: 5px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 15px white;
}   
.twitter{
    margin: 5px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 15px rgb(0, 102, 255);
} 
.facebook{
    margin: 5px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 15px blue;
}   
.linkedin{
    margin: 5px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 20px white;
}
    