/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

body{
    background-image: url(https://cdn.pixabay.com/photo/2018/04/21/00/42/hexagon-3337447_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* FORMULARIO DE REGISTRO */

.main-row{
    width: 60%;
}
.SingUp-form{
    background-color: #a563cc0c;
    border-radius: 25px;
    width: 50%;
}
.ico{
    font-size: 40px;
}
.ico-exit{
    font-size: 25px;
}
.exit:hover{
    background-color: #B8D0EB;
}
.newUser{
    margin-left: 10px;
}
.newUser h2{
    margin-bottom: 1px;
}
.formSignUp{
    margin: 20px;
}

.button{
    width: 50%;
    background-color: #B8D0EB
}
.button:hover{
    background-color: #B298DC;
}

/* FOOTER */
.instagram{
    margin: 10px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 20px white, 0 0 20px white;
}  
.xtwitter{
    margin: 10px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 20px white, 0 0 20px white;
}   
.twitter{
    margin: 10px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 20px white, 0 0 20px white;
} 
.facebook{
    margin: 10px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 20px white, 0 0 20px white;
}   
.linkedin{
    margin: 10px;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 20px white, 0 0 20px white;
}
.footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* BODY */
.container{
    display: flex;
    font-family: 'Figtree', sans-serif;
}
.leftside{
    color: white;
}
h1{
    font-size: 50px;
    font-weight: bolder;
}
p{
    font-size: 20px;
    font-weight: bolder;
}