/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.AddButton{
    border: none;
    background-color: #003ea8;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow:rgb(15, 15, 15) 0px 13.36px 8.896px, rgb(39, 39, 39) 0px 0px 1px;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
}

.AddButton:hover{
    background-color: #003ea8;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}


