.form-logIn{
    background-color: #23232325;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    right: 0;
    width: 100%;
    height: 100vh;
}
.form-logIn>.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

/* FORMULARIO DE REGISTRO */

.main-row-login{
    max-width: 350px;
}
.SingUp-form{
    background-color: #ffffff79;
    border-radius: 25px;
    width: 50%;
}
.ico{
    font-size: 40px;
}
.ico-exit{
    font-size: 25px;
}
.exit:hover{
    background-color: #B8D0EB;
}
.newUser{
    margin-left: 10px;
}
.newUser h2{
    margin-bottom: 1px;
}
.formSignUp{
    margin: 20px;
}

.button{
    width: 50%;
    border-radius: 28px;
    background-color: #B8D0EB;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.726), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
.button:hover{
    background-color: #B298DC;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.445),0 17px 50px 0 rgba(0,0,0,0.19);
}

