.Sidebar{
    width: 100%;
    border-radius: 5px;
    margin-left: 3px;
    background-color: #ffffffde;
    color: rgb(0, 0, 0);
}
.Sidebar-options{
    padding: 10px;
    border-radius: 5px;
}
.Sidebar-options:hover{
    background-color: #a7c8ff;
    color: black;
    cursor: pointer;
}
.Sidebar-button{
    border: none;
    background: none;
    color: rgb(0, 0, 0);
}

.Sidebar-button:hover{
    color: black;
}