.Sidebar{
    width: 100%;
    border-radius: 5px;
    margin-left: 3px;
    background-color: #140152;
    color: white;
}
.Sidebar-options{
    padding: 10px;
    border-radius: 5px;
}
.Sidebar-options:hover{
    background-color: rgb(222, 201, 255);
    color: black;
    cursor: pointer;
}
.Sidebar-button{
    border: none;
    background: none;
    color: white;
}

.Sidebar-button:hover{
    color: black;
}