.Sidebar{
    /* width: 75%; */
    min-width:250px;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(25px) saturate(73%);
    -webkit-backdrop-filter: blur(25px) saturate(73%);
    background-color: rgba(17, 25, 40, 1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    /* ESTILOS DE DANIELA */
    position: fixed;
    top: 0; 
    left: 0; 
    width: 250px; 
    height: 100%;
}


.Sidebar-options{
    padding: 10px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.Sidebar-options:hover{
    background-color: #a7c8ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.Sidebar-button{
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.534);
}

.Sidebar-button:hover{
    color: black;
}